@media(max-width: 544px) {
    body .h2 {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    body .h2 {
        font-size: 2rem;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    body .h2 {
        font-size: 2.5rem;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    body .h2 {
        font-size: 3rem;
    }
}

@media (min-width: 769px) {
    .navbar-expand-sm .navbar-collapse {
        justify-content: flex-end;
    }
    .navbar .container,
    .navbar .container-fluid,
    .navbar .container-lg,
    .navbar .container-md,
    .navbar .container-sm,
    .navbar .container-xl {
        display: -ms-flexbox;
        display: list-item;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .navbar-expand-sm {
        display: flex;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar.solid .navbar-nav>li>a {
        color: #305312ce;
        transition: color 1s ease 0s;
    }
}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-collapse {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: auto;
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-fixed-top .navbar-collapse {
        max-height: 100%;
    }
    .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        background-color: rgb(0, 0, 0, 0.9);
        -ms-flex-align: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
    }
    .navbar-nav li {
        margin: 9px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 0.1;
    }
    .navbar .container,
    .navbar .container-fluid,
    .navbar .container-lg,
    .navbar .container-md,
    .navbar .container-sm,
    .navbar .container-xl {
        display: -ms-flexbox;
        display: list-item;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .navbar-expand-sm .navbar-toggler {
        display: block;
    }
    .collapse:not(.show) {
        display: none!important;
    }
    .navbar-header {
        display: contents;
    }
}

@media (max-width:768px) {
    .navbar-expand-sm .navbar-nav {
        flex-direction: column;
        height: 100%;
    }
    .ml-auto,
    .mx-auto {
        margin-left: 0px;
    }
}

@media (min-width: 768px) {
    .col-sm-12 {
        width: 100%;
    }
    .project__description {
        padding-top: 10%;
    }
}

@media (min-width: 992px) {
    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
}

@media only screen and (max-width: 575px) {
    .navbar.solid {
        height: 65px;
    }
    .project__description {
        padding-top: 14%;
    }
}

@media only screen and (min-width:575px) and (max-width: 768px) {
    .navbar.solid {
        height: 55px;
    }
    .project__description {
        padding-top: 20%;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-toggler .icon-bar {
        background: #ffffff;
    }
    .navbar.solid.navbar-nav>li>a {
        color: #ffffff;
        transition: color 1s ease 0s;
    }
    h1.text-role {
        font-size: 25px;
    }
    .intro-text h3 {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .navbar-header {
        display: flex;
        justify-content: space-between;
    }
    .navbar.solid .navbar-nav>li>a {
        color: #ffffff;
        transition: color 1s ease 0s;
    }
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100%;
    color: #000000;
    font-weight: 400;
    font-size: 15px;
    overflow-x: hidden
}

.navbar {
    text-transform: uppercase;
    font-size: 14px;
    background-color: transparent;
    transition: background-color 1s ease 0s;
    border: none;
    color: #ffffff;
}

.navbar.solid {
    box-shadow: 0 0 4px #76ff03;
    transition: background-color 1s ease 0s;
}

.navbar.solid .navbar-brand {
    color: #000000;
    transition: color 1s ease 0s;
}

.navbar.solid .navbar-nav>ul {
    background: #c3e7be;
    transition: color 1s ease 0s;
}

.navbar.solid .navbar-toggler .icon-bar {
    background: #000000;
}

.navbar.solid {
    background: #ffffff;
}

.navbar.solid .menu-section {
    margin-top: 0px;
}

button.navbar-toggler:focus {
    outline: none;
}

.navbar.solid .navbar-toggler {
    color: #000000;
}

.navbar-toggler {
    border: none;
    border-radius: 0;
}

.menu-section {
    transition: all 0.4s ease-out;
    margin-top: 10px;
}

.navbar-light .navbar-brand {
    color: #ffffff;
    font-size: 25px;
    display: block;
    font-weight: 800;
    text-transform: uppercase;
}

.navbar-light .navbar-brand:hover {
    color: rgb(255, 255, 255);
}

.navbar-light .navbar-brand:hover {
    color: #73cf28;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    line-height: 1.5;
    font-weight: 400;
    padding: 10px 15px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light {
    color: #73cf28;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #73cf28;
}

.nav-item {
    margin: 0 5px 0 0;
}

.navbar-nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.bcg-light {
    background-color: #c0e7be;
}

.navbar-light {
    letter-spacing: 1px;
}

.navbar-light .navbar-toggler {
    color: #000000;
}

.navbar-toggler .icon-bar+.icon-bar {
    margin-top: 4px;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.hidden {
    display: none;
    visibility: hidden;
}

.img-area {
    width: 160px;
    height: 160px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fff;
}

.introduction-area img {
    max-width: 100%;
    height: auto;
}

.introduction-area h3 {
    color: #fff;
    font-size: 45px;
    font-weight: 600;
}

.introduction-area a {
    color: #FFFFFF;
}

.introduction-area.btn-lg {
    padding-right: 50px;
    padding-left: 50px;
    opacity: 0.8;
    margin-top: 20px;
    text-transform: uppercase;
}

h1.brand-heading {
    font-weight: 100;
    text-transform: none;
    font-size: 18px;
    margin: 0;
}


/* TypeWriter Animation */

.typing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
    align-items: center;
}

.intro-area h1 {
    color: #fafafa;
    font-size: 18px;
    font-weight: 100;
    margin: 0;
}

.typing-container span {
    padding: .2rem 0;
}


/* Cursor */

.txt-type>.txt {
    border-right: 0.1rem solid #fafafa;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.h2 {
    position: relative;
}

.text-center {
    text-align: center;
}

.row {
    padding-left: -15px;
    padding-right: -15px;
    justify-content: space-around;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.intro-dark-bg {
    color: #f4f5f7;
}

.intro-img-half {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/headerbg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    z-index: 1;
}

.intro-table {
    display: table;
    margin: 0;
    position: relative;
    height: 100%;
    width: 100%;
}

.intro-table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.intro-area h1 {
    color: #fafafa;
    font-size: 18px;
    font-weight: 100;
    margin: 0;
}

.intro .btn-lg {
    padding-right: 50px;
    padding-left: 50px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    margin-top: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

h1,
h2,
h3,
h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 1.1;
}

h2 {
    font-size: 30px;
}

h4 {
    font-size: 18px;
}

.connect-social {
    text-align: center;
    padding-top: 20px;
}

.connect-social ul {
    margin: 0;
}

.connect-social ul li {
    display: inline;
    padding: 0;
    margin: 0 10px;
}

.connect-social ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    color: #fff;
}

.connect-social ul li a.icoLinkedin:hover {
    background-color: #007bb7;
    color: #FFFFFF;
    border: 1px solid #007bb7;
}

.connect-social ul li a.icoTwitter:hover {
    background-color: #33ccff;
    color: #FFFFFF;
    border: 1px solid #33ccff
}

.connect-social ul li a.icoFacebook:hover {
    background-color: #3B5998;
    color: #FFFFFF;
    border: 1px solid #3B5998
}

.connect-social ul li a.icoGithub:hover {
    background-color: #0d0d0e;
    color: #FFFFFF;
    border: 1px solid #0d0d0e
}


/* social networks */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

.social-network li {
    display: inline-table;
    margin: 0, 10px;
}

social-circle li a {
    display: inline-table;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #FFFFFF;
    transition: all 0.8s;
}

.btn-border {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section-padding {
    padding: 60px 0;
}

.stack::before {
    background: #75a061;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
}

.stack {
    position: relative;
    z-index: 10;
    margin-bottom: 20px;
    display: inline-block;
}

.stack img {
    width: 100%;
}

.about-right p span {
    color: #262626;
    font-weight: bold;
    letter-spacing: 2px;
}

.about-right h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.section-title {
    text-align: center;
    padding-bottom: 60px;
}

.section-title h2 span,
.about-title h2 span,
.navbar .navbar-brand span,
.navbar .solid .navbar-brand span {
    color: #60b31cce;
}


/* MY SKILLS SECTION */

.my-skills .section-title h2 {
    color: #fff;
}

.section-title h2 {
    font-size: 40px;
    color: #262626;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
}

.skills-card {
    padding: 40px;
}

.my-skills {
    background-image: url(/images/parallaxbg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
}

.my-skills:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: -1;

}

.circle_wrap{
    display: grid;
    grid-template-columns: repeat(1,160px);
    grid-gap: 80px;
    margin-top: 100px;
    margin-left: 50px;
    width: 150px;
    height: 150px;
    background: #d9d7da;
    border-radius: 50%;
}
.circle_wrap .circle .mask,
.circle_wrap .circle .fill-1,
.circle_wrap .circle .fill-2,
.circle_wrap .circle .fill-3,
.circle_wrap .circle .fill-4,
.circle_wrap .circle .fill-5,
.circle_wrap .circle .fill-6
{
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}
.circle_wrap .circle .mask{
    clip:rect(0px, 150px,150px, 75px);
}

.mask .fill-1{
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #ec0c0c;
}
.mask.full-1, 
.circle .fill-1{
    animation: fill-1 ease-in-out 3s;
    transform: rotate(153deg);
}

@keyframes fill-1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(153deg);
    }
}
/* skill 2 */
.mask .fill-2{
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #10a717;
}
.mask.full-2, 
.circle .fill-2{
    animation: fill-2 ease-in-out 3s;
    transform: rotate(171deg);
}

@keyframes fill-2{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(171deg);
    }
}
/* skill 3 */
.mask .fill-3{
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #10a717;
}
.mask.full-3, 
.circle .fill-3{
    animation: fill-3 ease-in-out 3s;
    transform: rotate(126deg);
}

@keyframes fill-3{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(126deg);
    }
}

/* skill 4 */
.mask .fill-4{
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #10a717;
}
.mask.full-4, 
.circle .fill-4{
    animation: fill-4 ease-in-out 3s;
    transform: rotate(144deg);
}

@keyframes fill-4{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(144deg);
    }
}

/* Skill 5 */
.mask .fill-5{
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #10a717;
}
.mask.full-5, 
.circle .fill-5{
    animation: fill-5 ease-in-out 3s;
    transform: rotate(135deg);
}

@keyframes fill-5{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(135deg);
    }
}

/* Skill 6 */
.mask .fill-6{
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #10a717;
}
.mask.full-6, 
.circle .fill-6{
    animation: fill-6 ease-in-out 3s;
    transform: rotate(117deg);
}

@keyframes fill-6{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(117deg);
    }
}


.circle_wrap .inside-circle{
    width: 124px;
    height: 124px;
    border-radius: 50%;
    background: #212020;
    line-height: 120px;
    text-align: center;
    margin-top: 13px;
    margin-left: 13px;
    color: white;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
}


.skillbar {
    margin-bottom: 24px;
    position: relative;
    width: 100%;
    display: block;
}

.skillbar .skillbar-title {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    color: #fff;
}

.skills-overlay {
    padding: 50px 0;
    background-color: rgb(23, 77, 90, .5);
}

.progress {
    border-radius: .5rem;
}

.progress-bar {
    font-weight: 900;
}


/* MY WORK SECTION/WHAT I DO */

.work-box {
    padding: 20px;
    margin-bottom: 40px;
    position: relative;
    height: 100%;
    box-shadow: 0 4px 10px rgb(34 148 30 /52%);
    border-radius: 10px;
    transition: color 0.3s transform 0.3s;
    margin-bottom: 5px;
}

.work-icon i {
    font-size: 50px;
    color: #60b31cce;
    margin-bottom: 20px;
}

.__work {
    padding-top: 15px;
    padding-bottom: 15px;
}

i.fa.fa-android {
    color: rgb(0, 128, 0);
}

.work-1 {
    background: url("images/codeAndroid.jpg");
    background-position: center;
    background-size: cover;
}


/* MY PROJECTS SECTION */

.portfolio {
    background-image: url(/images/headerbg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #ffffff;
    text-align: center;
    position: relative;
    z-index: 1;
}

.portfolio:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: -1;
}

.portfolio .section-title h2 {
    color: #fff;
}

.thumbnails {
    border: 0px;
    padding: 0px;
    border-radius: 0px;
}

.grid-item {
    margin: 0 0 30px;
}

.grid-item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #FFF;
}

.portfolio-link {
    max-width: 400px;
    margin: 0 auto;
}

.android_wrap_one {
    position: relative;
    width: 100%;
    height: 100%;
}

.project__description {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0px;
    right: 0;
    visibility: hidden;
    background: rgba(45, 71, 45, 0.9);
}


/* Display brief project description on hover */

.android_wrap_one:hover .project__description {
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.project__description button {
    border-radius: 5px;
    background: transparent;
    border: solid #ffff 1px;
    color: #ffffff;
}

.project__description button:hover {
    border-radius: 5px;
    border: solid #91ff38 0.8px;
}

footer,
section,
aside,
header {
    display: block;
}

.aside-overlay,
.skills-overlay {
    color: #f2e4d6;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.btn {
    text-transform: uppercase;
    display: inline-block;
}


/* CONTACT ME SECTION */

.left-contact-text h2 {
    margin-top: 2px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 3px;
}

.left-contact-text i {
    color: #60b31cce;
    font-size: 25px;
    margin-bottom: 10px;
}

.contact-card {
    border-radius: 1rem;
}

.contact-card form {
    padding: 15px 15px;
}

.contact-card .btn {
    float: right;
}

.push-bottom {
    margin-bottom: 20px;
}


/* Portfolio Projects Section*/

.img-center {
    margin: 0 auto;
}